$brand-primary: #3D5A80;
$brand-success: #4B8F8C;
$brand-danger: #F25F5C;

$breakpoint-tablet: 768px;
$breakpoint-phone: 768px;
$breakpoint-desktop: 1024px;

$root-container-width-desktop: 1000px;
$root-container-width-tablet: 100vw;

$primary-color: $brand-primary;
$text-on-primary: #fff;
$default-color: #f8f8f8;

$nav-bar-height: 50px;