$breakpoint-tablet: 768px;
$breakpoint-phone: 768px;
$breakpoint-desktop: 1024px;

$root-container-width-desktop: 1000px;
$root-container-width-tablet: 100vw;

$primary-color: #0B4A5E;
$default-color: #f8f8f8;

$nav-bar-height: 50px;

html {
  @media (min-width: $breakpoint-phone) {
    font-size: 10px;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 12px;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 14px;
  }
}

body {
  font-family: 'Special Elite', cursive;
  //font-family: 'Coming Soon', cursive;
}

.app-root-container {
  @media (min-width: $breakpoint-tablet) {
    width: $root-container-width-tablet;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    width: $root-container-width-desktop;
    margin-left: auto;
    margin-right: auto;
  }
}



.app-content-container {
  padding: $nav-bar-height 0;
  margin: 10px;
}

.app-site-map {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  padding-left: 0;
}

ul.app-site-map > li {
  list-style: none;
}

@import "./helpers";
@import "./navbar";