$breakpoint-tablet: 768px;
$breakpoint-phone: 768px;
$breakpoint-desktop: 1024px;
html {
  @media (min-width: $breakpoint-phone) {
    font-size: 10px;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 12px;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 14px;
  }
}

body {
  font-family: 'Special Elite', cursive;
  //font-family: 'Coming Soon', cursive;
}

.app-root-container {
  @media (min-width: $breakpoint-tablet) {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

*.p-10 {
  padding: 10px;
}

*.pointer {
  cursor: pointer;
}