<div class="app-root-container">

  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <span class="panel-title">
        Series Spy
      </span>

      <div class="pull-right">
        <spy-auth></spy-auth>
      </div>

    </div>

    <div class="panel-body">
      <rules-list rules="$ctrl.user.rules"></rules-list>
    </div>

    <div class="panel-footer text-right">
      <button
          type="button"
          class="btn btn-primary"
          ng-click="$ctrl.parse()"
      >find new series</button>
    </div>

  </div>
</div>