<form name="form">
  <cdp-input
      data-label="title"
      model="$ctrl.rule.title"
      data-model-ctrl="form.title"
      validators="{ required: true }"
  ></cdp-input>
  <cdp-input
      data-label="russian"
      data-name="ru"
      model="$ctrl.rule.ru"
      data-model-ctrl="form.ru"
      validators="{ required: true }"
  ></cdp-input>
  <cdp-input
      data-label="english"
      data-name="en"
      model="$ctrl.rule.en"
      data-model-ctrl="form.en"
      validators="{ required: true }"
  ></cdp-input>
</form>