<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <h2>
      <span>Favorite Shows</span>
    </h2>
    <span flex></span>
    <md-button
        class="md-raised"
        ng-click="ListCtrl.addRule($event)"
        aria-label="Add New Show">
      Add New Show
    </md-button>
  </div>
</md-toolbar>
<md-content flex>
  <md-list>

    <rule-row rule="rule"
              rules="ListCtrl.rules"
              ng-repeat="rule in ListCtrl.rules track by rule._id">
    </rule-row>

  </md-list>

  <div layout="row">
    <md-button class="md-raised md-primary btn-wide"
               ng-hide="ListCtrl.parsing.status"
               ng-click="ListCtrl.startParsing()"
               aria-label="Start Parsing">
      Start Parsing
    </md-button>
    <div class="childs-v-center" >
      <span ng-show="ListCtrl.parsing.status === 'WAITING_SOCKET'">
      Parsing will take more time. Let's wait for it a bit more.
    </span>
    </div>

    <md-progress-circular
        ng-show="ListCtrl.parsing.status"
        md-mode="indeterminate">
    </md-progress-circular>

  </div>

</md-content>
