<div class="rule-row">
  <div class="rule-title">
    <span ng-bind="$ctrl.rule.title"></span>
    <span ng-show="$ctrl.rule.series"
          class="series-count"
    >
      [ {{$ctrl.rule.series.length}} new series ]
    </span>
  </div>

  <div class="rule-actions">
    <a ui-sref="show({ rule: $ctrl.rule, _id: $ctrl.rule._id })">
      <i class="fa fa-edit"></i>
    </a>
    <span class="pointer"
       ng-click="$ctrl.delete($ctrl.rule)"
    >
      <i class="fa fa-trash"></i>
    </span>
  </div>


</div>
<div ng-show="$ctrl.rule.series" >
  <series-list series="$ctrl.rule.series"></series-list>
</div>