<form name="form" class="job-form" ng-submit="false">

  <span
      class="delete-icon"
      ng-click="$ctrl.delete()"
  >
    <i class="fa fa-times-circle"></i>
  </span>

  <h4 class="form-row-title">Select weekdays:</h4>
  <div class="job-weekdays">
    <label>
      <input
          type="checkbox"
          ng-change="$ctrl.selectAll()"
          ng-model="$ctrl.job.all"
      />
      Select All
    </label>
    <label>
      <input
          type="checkbox"
          ng-change="$ctrl.selectWeekDays($ctrl.job.weekdays)"
          ng-model="$ctrl.job.weekdays"
      />
      Select Weekdays
    </label>
    <label>
      <input
          type="checkbox"
          ng-change="$ctrl.selectWeekend($ctrl.job.weekend)"
          ng-model="$ctrl.job.weekend"
      />
      Select Weekend
    </label>

  </div>

  <cdp-input
      class="cdp-input"
      label="search time"
      name="time"
      type="time"
      id="time"
      validators="{ required: true }"
      model="$ctrl.job.time"
      model-ctrl="form.time"
  ></cdp-input>

  <div class="container-fluid no-padding text-right">
    <button
        type="submit"
        class="btn btn-success btn-wide"
        ng-click="$ctrl.save($ctrl.job)"
    >Save</button>

  </div>

</form>