@import '../../styles/variables';

$card-padding: 20px;

.job-form {
  border: 1px solid #ccc;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  padding: $card-padding;
  margin-bottom: 20px;
}

.job-form .delete-icon {
  position: absolute;
  right: $card-padding;
  top: $card-padding;
  cursor: pointer;
}

.job-weekdays {
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
  }
  justify-content: space-between;
}

.job-weekdays label {
  cursor: pointer;
}

.weekday {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job-form .form-row-title:not(:first-child) {
  margin-top: 30px;
}

.job-form .cdp-input span.input {
  margin-top: 0;
}