.job-weekdays {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.weekday {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job-form .form-row-title:not(:first-child) {
  margin-top: 30px;
}

.job-form .form-row-title cdp-input:first-child .input {
  margin-top: 0;
}