.job-weekdays {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.job-weekdays label {
  cursor: pointer;
}

.weekday {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job-form .form-row-title:not(:first-child) {
  margin-top: 30px;
}

.job-form .cdp-input span.input {
  margin-top: 0;
}