@import '../../styles/variables';

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px $primary-color inset; /* Change the color to your own background color */
  -webkit-text-fill-color: $text-on-primary;
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px $primary-color inset;
  -webkit-text-fill-color: $text-on-primary;
}

.input.input--yoko {
  font-size: 1.4em;
}


.input__label--yoko.invalid::before,
.input__label--yoko.invalid::after{
  background-color: $brand-danger;
}


.input__label--yoko::before,
.input__label--yoko::after
{
  background-color: $primary-color;
}